@import "base/var";
@mixin margin() {
    margin: 20px;
}

//不帶值的函數寫法
@mixin rect() {
    width: 200px;
    height: 40px;
    background-color: rgb(18, 122, 170);
}

// 帶值的函數寫法
@mixin rect($width, $height, $bgc) {
    //@mixin rect($height, $bgc, $width:100px) {//有帶預設值時, 建議放最後面
    width: $width;
    height: $height;
    background-color: $bgc;
}

@mixin float_module($dir, $width:null) {
    float: $dir;
    width: $width;
    // height: $width*.5;
}

body {
    padding: 0;
    margin: 0;
    background-color: $bgc;
    color: $color;
    font-size: $fontSize;
    h1 {
        margin: 20px;
        font-family: $fontFamily;
        font-size: $fontSize*5;
        color: blueviolet;
        @include rect(400px, 100px, rgb(255, 255, 255));
        @include float_module(left);
        span {
            font-size: $fontSize*3;
            @include margin();
        }
    }
    h2 {
        margin: 20px;
        font-size: $fontSize*2;
        // @include rect();
    }
}

@mixin animation_module($value) {
    -webkit-animation: $value;
    // Safari 4+
    -moz-animation: $value;
    // Fx 5+
    -o-animation: $value;
    // Opera 12+
    animation: $value;
    // IE 10+, Fx 29+
}

// .bgimage{
//     @include animation_module()
// }
.btn {
    width: 100px;
    padding: 8px;
    text-align: center;
    color: #fff;
    background-color: rgb(0, 42, 255);
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
}

@mixin btn($width, $padding, $color, $bgc, $border:null, $border-r:null) {
    width: $width;
    padding: $padding;
    text-align: center;
    color: $color;
    background-color: $bgc;
    cursor: pointer;
    border: $border;
    border-radius: $border-r;
    &:hover {
        background-color: darken($bgc, 10);
    }
}

.btn {
    @include btn(100px, 8px, #fff, rgb(0, 42, 255));
}